<div ng-class="classe ? classe : 'col-sm-6 col-lg-4'">
  <div class="form-group" ng-class="field.$invalid && field.$dirty ? 'has-error': {'has-success': field.$dirty && required}">
    <label class="control-label" for="{{::fieldName}}">{{::label}}</label>
    <div ng-show="field.$invalid" ng-messages="field.$error" class="float-right text-danger">
      <div ng-message="required">Campo obrigatório</div>
      <div ng-message="email">Formato de e-mail inválido</div>
      <div ng-message="mask">Formato inválido: {{::maskFormat}}</div>
      <div ng-message="minlength">Deve conter ao menos {{::minlength}} caracteres</div>
      <div ng-message="maxlength">Deve conter no máximo {{::maxlength}} caracteres</div>
      <div ng-message="forca">Senha fraca</div>
      <div ng-message="senha">Senhas não conferem</div>
      <div ng-message="dominio">Deve pertencer ao domínio sc.gov.br</div>
    </div>
    <input type="{{::type}}"
      name="{{::fieldName}}"
      placeholder="{{::placeholder}}"
      ng-model="model"
      ng-required="required"
      ng-attr-ng-change="change"
      ng-attr-ng-minlength="minlength"
      ng-attr-ng-maxlength="maxlength"
      class="form-control"
      ng-attr-mask="{{::maskFormat}}"
      ng-attr-tabindex="{{::index}}" />
  </div>
</div>
